/* HTML Page */
*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    /*font-family: 'poppins', sans-serif;
    font: size 18px;*/
}

.navbar {
    border: #0d6efd;
}

/* Nav change text color*/
/* Navbar - change text color on all states */
.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link:active {
    color: black !important;
}

/* Navmain - change text color on all states */
.navmain .nav-link:hover,
.navmain .nav-link:focus,
.navmain .nav-link:active {
    color: black !important;
}

/* Navsub - change text color on all states */
.navsub .nav-link:hover,
.navsub .nav-link:focus,
.navsub .nav-link:active{
    color: black !important;
}

/* Change background color*/
body {
    background-color: white;
}

/* Nav Bar and Menu Bar*/
/* Nav Bar link */
.nav-link {
    color:#0d6efd;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #0d6efd;
}

.nav-link::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #0d6efd;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::after {
    width: 100%;
    visibility: visible;
}

/* BCI Email modal */
.modalemailconsent {
    text-align:justify
}

/* Banner Carousel */
/* Responsive 
@media (min-width: 992px) {
    .carousel-caption h5 {
        font-size: 1.5rem;
    }
}

.carousel-control-prev {
    border: #0d6efd;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel-control-next {
    border: #0d6efd;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel-inner {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}*/

/* Updated Banner Carousel */
.carousel-caption {
    bottom: 80%;
    transform: translate(0, 80%);
    padding: 160px;
}

.carousel-innerup {
    align-items: center;
    margin-left: 40px;
    margin-right: 50px;
}

.carousel-control-prevup {
    border: #0d6efd;
    width: 50px;
    height: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.carousel-control-nextup {
    border: #0d6efd;
    width: 55px;
    height: 50px;
    margin-left: 1550px;
    margin-right: 0px;
    margin-top: 34px;
    margin-bottom: 20px;
}

.carousel-control-prev-icon {
    width: 25px;
    height: 25px;
    margin-top: 6px;
}

.carousel-control-next-icon {
    width: 25px;
    height: 25px;
    margin-top: 6px;
}

/* Photo Carousel */
/* Responsive */
@media (min-width: 992px) {
    .carousel-caption h5 {
        font-size: 1.5rem;
    }
}

.carousel-innerph {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.carousel-innerph .carousel-caption {
    margin-left: 550px;
    margin-right: 0px;
}

/*.carousel-innerph {
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}*/

/*.carousel-control-prevph {
    border: #0d6efd;
    width: 50px;
    height: 50px;
    margin-left: 40px;
    margin-right: 0px;
    margin-top: 220px;
    margin-bottom: 0px;
}

.carousel-control-nextph {
    border: #0d6efd;
    width: 50px;
    height: 50px;
    margin-left: 1525px;
    margin-right: 0px;
    margin-top: -65px;
    margin-bottom: 300px;
}*/

.carousel-control-prevph {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

.carousel-control-nextph {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

/*.carousel-control-prev*/
.carouselprevph {
    border: #0d6efd;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 140px;
    margin-bottom: 0px;
}

/*.carousel-control-next*/ 
.carouselnextph {
    border: #0d6efd;
    width: 50px;
    height: 50px;
    margin-left: 1350px;
    margin-right: 0px;
    margin-top: -65px;
    margin-bottom: 200px;
}

/* Card */
.card {
    padding: 0px;
    border: 1px solid #0d6efd;
}

/* Body Text */
.articletext {
    font-size: 20px;
    text-align: justify;
}

.articletext > p > i {
    font-size: 0.5em;
    position: relative;
    bottom: 3px;
}

.btncenter {
    position: absolute;
    margin-left: 47.5%;
    transform: translateX(-50%);
}

.paypallogo {
    display: flex;
    justify-content: center; /* Horizontal */
    align-items: center; /* Vertical */
}

.iframe {
    width: 100vw; /* Full viewport width */
}

/* BCI Board of Directors Cards */
.cardbcibm {
    padding: 0px;
    border: 1px solid #0d6efd;
    margin-left: 670px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
}

.cardbcibmsec {
    padding: 0px; 
    margin-left: 100px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    column-count: 5;
    border-radius: 0.5rem;
}

.cardbm {
    padding: 0px;
    border: 1px solid #0d6efd;
    margin-left: 320px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    }

.text-justify {
    text-align: justify;
    text-indent: 0;
    margin: 0;
    padding: 0;
  }

/* About Blissymbolics */
/* Lee Merlich's photo */
.figurelmphoto{
    border: 1px solid #0d6efd;
    margin-left: 600px;
}

/* Text Indent */
.textindent {
    margin-left: 50px;
}

/* Accordion */
.accordion {
    width: 80%;
    margin: 0 auto;
}

.accordion-button {
    align-items: center;
    border: 1px solid #0d6efd;
}

.accordion-body
{
    align-items: center;
    margin-left: 2px;
}

/* Community Sign Up */
.cardcommunitysignup {
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
    border: 1px solid #0d6efd;
    border-radius: 0.5rem;
}

.btnsignup {
    position: relative;
    margin-left: 42%;
}

.signupmessage {
    text-align: center;
    background: #ffffff;
    padding: 15px 0px;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
}

/* Community Account */
.cardaccount {
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
    border: 1px solid #0d6efd;
    border-radius: 0.5rem;
}

.btnaccount {
    position: relative;
    margin-left: 42%;
}

/* Community Log In */
.cardlogin {
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
    border: 1px solid #0d6efd;
    border-radius: 0.5rem;
}

.btnlogin {
    position: relative;
    margin-left: 42%;
}

/* Community Log Out */
.cardlogout {
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
    border: 1px solid #0d6efd;
    border-radius: 0.5rem;
}

.btnlogout {
    position: relative;
    margin-left: 42%;
}

/* Admin Log In */
.cardadminlogin {
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
    border: 1px solid #0d6efd;
    border-radius: 0.5rem;
}

.btnadminlogin {
    position: relative;
    margin-left: 42%;
}

.adminmessage {
    text-align: center;
    background: #ffffff;
    padding: 15px 0px;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
}

/* Admin Log Out */
.cardadminlogout {
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
    border: 1px solid #0d6efd;
    border-radius: 0.5rem;
}

.btnadminlogout {
    position: relative;
    margin-left: 42%;
}

/* Contact Us */
.cardcontactus {
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
    border: 1px solid #0d6efd;
    border-radius: 0.5rem;
}

.contactus-footer {
    position: relative;
    margin-left: 42%;
}

.btnback {
    position: relative;
    margin-left: 42%;
}

.form-invalid{
    outline:2px solid red !important;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
}

.leftfooter {
    text-align: right;
    padding-left: 274px;
}

.rightfooter {
    text-align: left;
    padding-right: 275px;
}

a.nav-link.text-primary.active {
    color: black !important;
}
