/* HTML Page */
*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    /*font-family: 'poppins', sans-serif;
    font: size 18px;*/
}

/*Change background color does not work
.navbartop {
    background-color: white;
    border: #0d6efd;
}*/

/* Change background color*/
body {
    background-color: white;
}

/* Style the heading does not work*/
/*h1 {
    font-size: 24px;
}*/

/* Banner Carousel */

.carousel-control-prev {
    border: #0d6efd;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel-control-next {
    border: #0d6efd;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel-inner {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* Updated Banner Carousel */
.carousel-caption {
    bottom: 80%;
    transform: translate(0, 80%);
    padding: 130px;
}

/* Responsive */
@media (min-width: 992px) {
    .carousel-caption h5 {
        font-size: 1.5rem;
    }
}

.carousel-innertest {
    align-items: center;
    margin-left: 40px;
    margin-right: 50px;
}

.carousel-control-prevup {
    border: #0d6efd;
    width: 50px;
    height: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.carousel-control-nextup {
    border: #0d6efd;
    width: 55px;
    height: 50px;
    margin-left: 1513px;
    margin-right: 0px;
    margin-top: 34px;
    margin-bottom: 0px;
}

.carousel-control-prev-icon {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.carousel-control-next-icon {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

/* Card */
.card {
    /*padding: .5rem*/
    /*padding: 1.5 rem*/
    /*width 300px;*/
    /*height: 100px; padding:50px;*/
    padding: 0px;
    border: 1px solid #0d6efd;
}

/* Body Text */
.articletext {
    font-size: 20px;
    text-align: justify;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
}

.leftfooter {
    text-align: right;
    padding-left: 274px;
}

.rightfooter {
    text-align: left;
    padding-right: 275px;
}
